@use "../../abstracts/" as abs;
.topic {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  &-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 12px 22px;
  }
  &-image{
    width: 100%;
    height: 86px;
    object-fit: cover;
    border-radius: inherit;
  }
  &-content{
    position: absolute;
    inset: 0; 
    border-radius: inherit;
    background-color:hsl(220, 10%, 12%,0.74);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 10px;
  }
  &-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 142.857%;
  }
  &-podcast{
    font-size: 13px;
    line-height: 146.154%;
  }
}
