@use "../../abstracts/" as abs;

.trending {
  padding: 20px 0 36px;
  container-type: inline-size;
  container-name: trending;
  &-heading {
    --mb: 11px;
  }
  &-banner {
    padding: 20px;
    border-radius: 10px;
    @include abs.flexBox(flex-start, null, null, null);
    position: relative;
  }
  &-content {
    flex: 0 0 310px;
  }
  &-title {
    font-size: 22px;
    line-height: 145.455%;
    margin-bottom: 11px;
    span {
      @include abs.textGradient();
      background-image: abs.$gradient;
    }
  }
  &-podcast {
    font-size: 14px;
    @include abs.fw(null);
    color: var(--trending-podcast, #676A6F);
    margin-bottom: 4px;
  }
  &-author {
    font-size: 14px;
    @include abs.fw(null);
    color: var(--trending-author, abs.$primary-black);
    span {
      color: abs.$gray-natural;
    }
    margin-bottom: 20px;
  }
  &-image {
    position: absolute;
    right: 15px;
    max-width: 332px;
    bottom: 0;
  }
  &-vector,
  &-frame {
    position: absolute;
  }
  &-vector {
    right: 11%;
    top: 13%;
  }
  &-frame {
    right: 30%;
    bottom: 0;
  }
  @include abs.screenMaxWidth(767px) {
    &-frame {
      right: 15px;
    }
    padding: 35px 0 25px;
  }
  @container trending (max-width: 630px) {
    &-image {
      display: none;
    }
    &-content {
      flex: 1;
    }
  }
}
